<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livres - Bibliothèque</title>
    <link rel="stylesheet" href="/css/books.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Livres Disponibles</h1>
      </header>

      <div class="search-bar">
        <input
          type="text"
          id="searchInput"
          placeholder="Rechercher un livre..."
        />
        <button class="submit-btn">Rechercher</button>
      </div>
      <% if (user && user.role === 'admin') { %>
      <div class="actions">
          <div class="add-book">
            <a href="/add-book" class="submit-btn">Ajouter un livre</a>
          </div>
          <div class="add-book">
            <a href="/admin-index" class="submit-btn">Retour au menu</a>
          </div>
        </div>
      </div>
      <% } %>

      <div class="book-grid">
        <% if (books.length > 0) { %> <% books.forEach(book => { %>
        <div class="book-card">
          <img src="<%= book.cover %>" alt="image" class="book-cover" />
          <div class="book-info">
            <h3><%= book.title %></h3>
            <p>Auteur : <%= book.author %></p>
            <p>ISBN : <%= book.ISBN %></p>
            <p><%= book.pages %> Pages</p>
          </div>

          <div class="book-actions">
            <a href="/book-detail/<%= book._id %>" class="detail-btn"
              >Détails</a
            >
            <% if (user && user.role === 'admin') { %>
            <a href="/update-book/<%= book._id %>" class="edit-btn">Modifier</a>
            <form
              action="/books/<%= book._id %>?_method=DELETE"
              method="POST"
              style="display: inline"
            >
              <button
                type="submit"
                class="delete-btn"
                onclick="return confirm('Voulez-vous vraiment supprimer ce livre ?')"
              >
                Supprimer
              </button>
            </form>
            <% } %>
          </div>
        </div>
        <% }); %> <% } else { %>
        <p>Aucun livre disponible pour le moment.</p>
        <% } %>
      </div>
    </div>

    <script>
      document
        .getElementById("searchInput")
        .addEventListener("input", function () {
          let filter = this.value.toLowerCase();
          let books = document.querySelectorAll(".book-card");

          books.forEach((book) => {
            let title = book.querySelector("h3").innerText.toLowerCase();
            book.style.display = title.includes(filter) ? "" : "none";
          });
        });
    </script>
  </body>
</html>
